@model ControleClientes.ViewModels.ContaViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
