@model IEnumerable<ControleClientes.ViewModels.ContaViewModel>

@{
    ViewBag.Title = "Conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contas</h2>

@if (TempData["Erro"] != null)
{
    <p class="alert-danger">
        @TempData["Erro"]
    </p>
}

@if (TempData["Sucesso"] != null)
{
    <p class="alert-success">
        @TempData["Sucesso"]
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { numeroConta = item.NumeroConta }) |
                @Html.ActionLink("Transferir entre contas", "Transferir", new { numeroConta = item.NumeroConta })
            </td>
        </tr>
    }

</table>
